*{
  font-family: roboto;
}

body {
  background-color: lightseagreen;
  text-align: center;
}

.btn{
  padding: 12px 20px;
}

.model-hidden button{
  padding: 12px 20px;
  margin-top: 20px;
  margin-left: 800px;
}

.hidden{
  display: none;
}