*{
    margin: 0;
    padding: 0;
}

html{
    font-family:'Times New Roman', Times, serif;
}

#logo{
    display: grid;
    place-items: center;
    margin-top: 232px;
    margin-right:5% ;
    margin-left:5% ;
    height: 100px;
    background-image: url(./logo_png9.png);
    background-size: 315px;
    background-repeat: no-repeat;
    background-position: center;
}


.searchBar{
    display: grid;
    place-items: center;
}



.data{
    text-align: center;
    width: 100%;
    height: 100px;
    margin: 122px;
    font-size: 15px;
    text-decoration: none;
    font-size: 16px;
}


.data p{
    position: relative;
    display: inline-block;
    margin: 20px;
    font-size: 15px;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: whitesmoke;
    shape-outside: margin-box;
    
}

.btn{
    border: solid 1px black;
    border-radius: 10px 10px  0  0;
    padding: 20px;


}

.btn2{
    position: absolute;
    left: -30px;
    top: 5px;

}

img{
    position: relative;
    top: 3px;
    left: 18px;
    height: 20px;
}

input[type="text"]{
    position: relative;
    min-width: 45%;
    top: 80px;
    border-radius: 25px;
    height: 50px;
}
