html {
    margin: 0;
}

a{
    color: purple;
    /* estilo generico */
    font-size: 3em;
    background-color: purple;
    padding: 20px;
    border: solid black 5px;
    
    
}

a:active{
    color: red;
}

a:link{
    color: yellow;
    /* link es cuando no hemos visitado el link */
    text-decoration: none;
} 

a:visited{
    color: orange;
    /* visited es cuando ya hemos visitado el link */
}

a:hover{
    color: gray;
    /* hover es cuando ponemos el mouse por el encima del link */
    /* text-decoration: underline; */
    background-color: lightpink;
}