body {
    background-color: lightyellow;
    font-size: 60px;
}


table {
    width: 100%;
    border-collapse: collapse;
}


tr:nth-child(even) {
    background-color: lightcoral;
}

table th{
    background-color: lightgreen;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 8px;
}

td{
    border: solid 1px ;
    padding: 12px;
}