*{
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

body{
    background: linear-gradient(to top left, #5f0f40, #0f4c5c);
}

.box{
    text-align: center;
    position: relative;
    top: 200px;
    margin: auto;
    background: linear-gradient(#ff5d8f, #ff4d6d);
    width: 75%;
    height: 500px;
    border-radius: 5px;
}

.innerColor{
    position: absolute;
    background: rgba(0, 0, 0, .4);
    height: 100%;
    width: 50%;
    left: 0;
    border-radius: 5px;

}

.innerColorTwo{
    position: absolute;
    background: rgba(0, 0, 0, .4);
    height: 100%;
    width: 50%;
    right: 0;
    border-radius: 5px;
}


.hidden{
    display: none;
}

.playerOne{
    position: absolute;
    left: 60px;
    top: 150px;
}

button:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, .4);
}

.oneBox{
    padding: 25px;
    position: relative;
    top: 100px;
    text-align: center;
    background: whitesmoke;
    border-radius: 10px;
    color: #5f0f40;
}


.playerTwo{
    position: absolute;
    top: 150px;
    right: 60px;
}

h2{
    font-size: 80px;
}

.twoBox{
    padding: 25px;
    position: relative;
    top: 100px;
    text-align: center;
    background: whitesmoke;
    border-radius: 10px;
    color: #5f0f40;
}


.newGame{
    position: relative;
    top: 70px;
}

button{
    padding: 20px;
    border-radius: 25px;
}


.rollHold{
    position: relative;
    top: 250px;
}

.dice, 
.dice2,
.dice3,
.dice4,
.dice5,
.dice6{
    position: absolute;
    height: 90px;
    top: 170px;
    left: 500px;
}

.hidden{
    display: none;
}