html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto';
    color: whitesmoke;
    background-image: url(https://images.hdqwalls.com/wallpapers/music-abstract-art-pic.jpg);
    background-size: 1920px;
    padding: 0;
}

.header {
    text-align: center;
}

.contenedor ul{
    list-style: none;

}

.contenedor ul li{
    margin: 10px;
}

.contenedor{
    padding-top: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0,0,0,.9);
    min-height: 500px;
    margin-right: 500px;
    margin-left : 500px;
    border: solid gray 5px;
}