*{
    padding: 0;
    margin: 0;
    color: #fcbf49;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

html{
    height: 100%;
}

header{
    text-align: center;
}


body{
    background: linear-gradient(to top left,#d62828, #e63946);
}

.logojs{
    height: 40px;
}

.name{
    font-size: 40px;
    margin-top: 20px;
    background-color: #fcbf49;
    color: #d62828;
    text-align: center;
    height: 50px;
    width: 450px;
    border: 2px solid #d62828;
    border-radius: 40px;
}

.sendName{
    background-color: #fcbf49;
    color: #d62828;
    border-radius: 40px;
    margin-top: 20px;
    height: 50px;
    font-size: 35px;
    width: 25%;
    cursor: pointer;
}

.sendName:hover{
    background-color: #d62828;
    color: #fcbf49;
}

.sign{
    text-align: center;
    font-size: 50px;
}

.show-modal{
    text-align: center;
    margin-left: 40%;
    padding: 20px;
    border-radius: 40px;
    height: 70px;
    width: 20%;
    font-size: 30px;
    color: #d62828;
    background-color: #fcbf49;
    cursor: pointer;
}


.show-modal:hover{
    background-color: #d62828;
    color: #fcbf49;

}

.modal{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.hidden{
    display: none;
}

.close-modal{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
    font-size: 50px;
    margin-left: 80%;
    background-color: #fcbf49;
    color: #d62828;
    cursor: pointer;
}

.close-modal:hover{
    background-color: #d62828;
    color: #fcbf49;
}

.game{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.length{
    font-size: 40px;
    width: 55px;
    text-align: center;
}

.stats{
    text-align:center;
}

.userCode{
    font-size: 40px;
    text-align: center;
    width: 20%;
}


.start {
    font-size: 40px;
    border-radius: 20px;
    width: 20%;
    background-color: #fcbf49;
    color: #d62828;
}

.start:hover{
    background-color: #d62828;
    color: #fcbf49;
}

.stats{
    text-align: center;
    font-size: 35px;
}