*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 20px;

}

body{
    background-color: black;
}

.box{
    text-align: center;
    margin: auto;
    width: 20%;
    padding: 20px;
    background-color: #000000;
    border: solid 4px #fca311;
    margin-top: 10%;
    border-radius: 10px;
}

button{
    background-color: #fca311;
    padding: 20px;
    margin:5px;
    border-radius: 25%;
    border: solid 4px whitesmoke;

}

button:hover{
    background-color: rgba(0,0,0,.4);
    color: #fca311;
}
.results {
    justify-content: center;
    justify-items: center;
    margin: 20px;
    height: 50px;
    border-radius: 5px;
    border: solid 4px whitesmoke;
    background-color: #fca311;
    
}
