* {
    padding: 0;
    margin: 0;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}


header {
    text-align: center;
    font-size: 22px;
    background-color: #e63946;
    padding: 20px;
}

hr {
    background-color:white;
    height: 5px;
    

}
body {
    background-color: #457b9d;
}

.navbar :hover{
    color: black;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 45px;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: white;
    font-size: 100px;
}

.logo img{
    border-radius: 50%;
    height: 300px;
}

.main{
    text-align: center;
    font-size: 20px;
}

.joyas img{
    gap: 20px;
    border-radius: 50%;
    height: 200px;
}

.joyas a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    gap: 60px;
    color: white;

}


.joyas a :hover{
    color: black;
}

h3{
    font-size: 40px;
}

.h1{
    color: white;
    padding: 15px;
    margin-top: 15px;
}

h3{
    color: white;
}