*{
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Fira Code', sans-serif;
    color: white;
    
}

div.encabezado {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;

}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

    

}


a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    
}

header {
    background: #e63946;
}

button {
    background-color: black;
}

button :hover {
    color: #e63946;
}

h1.cuerpo {
    color: black;
    display: flex;
    justify-content: center;
    margin-right: 200px;

}
