
body {
    background-color: #2a9d8f;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-style: bold;
    margin: 0;
    padding: 0;
 
}

.titulo {
    font-size: 45px;
    background-color: white;
    color: #2a9d8f;
    width: 75%;
    text-align: center;
    margin-left: 12%;
    margin-top: 0;
}

.contenedor{
    text-align: center;
}

.contenedor .btn{
    padding: 20px;
    border-radius: 5px;
    
}

.contenido{
    margin-top: 25px;
    font-size: 24px;
}

.btn:hover{
    background-color: rgba(0,0,0,0.5);
}

.contenedor:hover .contenido a{
    display: block;
}

.contenido a{
    text-decoration: none;
    padding: 14px;
    color: aliceblue;
    font-size: 35px;
    background-color: #e9c46a;
    display: none;
}
    

.btn {
    text-align: center;
}


hr {
    margin-top: 100px;
    border: 1px solid black;
    width: 100%;
}


.informacion {
    font-size: 50px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    color: #2a9d8f;
    width: 75%;
    margin-left: 12%;
}

.integrantes {

    font-size: 50px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    color: #2a9d8f;
    width: 75%;
    min-height: 20%;
    margin-left: 12%;

}

ul li{
    list-style: none;
    
}

.fotos {
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
    color: #2a9d8f;
    width: 75%;
    margin-left: 12%;
}

.fotos img{
    border-radius: 50px;
    border: solid 5px rgba(0,0,0,0.5);
    size: 100px;
}

img {
    width: 700px;
    margin-top: 0;
    background-color: white;
    padding: 25px;
}

.fotos {
    color: white;
}