



p {
    color: white;
    text-align: center;
}

input {
    text-align: center;
    
}

body {
    background:  black;
    font-family: Fira Code;
    
}

p {
    font-family: Fira Code;
}

.nombre {
    text-align: center;
   
    
}

.followers {
    text-align: center;
}

button {
    background-color: transparent;
}


