@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); 
html{
    
    min-height: 100%;
    font-family: Montserrat, sans-serif;
}

body{
    background: linear-gradient(to top, #a2d2ff, #ffafcc);
}

h1{
    font-size: 100px;
}

header{
    color: #ffb703;
    text-align: center;
    margin-top: 300px;
    text-shadow: 6px 6px 6px rgba(0, 0, 0,.9);
}



.hidden{
    display: none;
}

.content{
    text-align: center;
    font-size: 40px;
}


input[type = "text"]{
    background: #faedcd;
    text-align: center;
    height: 100px;
    width: 25%;
    font-size: 40px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0,.5);
    border: solid 4px rgba(0, 0, 0,.5);
    border-radius: 10px;
}


button{
background: #faedcd;
   padding: 20px;
   margin-top: 20px;
   border-radius: 10px;
   border: solid 4px rgba(0, 0, 0,.5);
   cursor: pointer;
   font-size: 20px;
}