*{
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
}

.grid{
    text-align: center;
    place-items: center;
    background-color: red;
    display: grid;
    /* columnas = izq derecha */
    grid-template-columns: 100px 200px 300px;
    /* filas = arriba  abajo */
    grid-template-rows: 100px 400px 100px;
}