body {
    background-color: aqua;
}

.drop-down {
    padding: 25px;

}

.dropdown-content a{
    display: block;
    padding: 20px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}


